.home {
  display: flex;

  .homeContainer {
    flex: 6;
  
    .widgets, .charts {
      display: flex;  
      padding: 20px;
      // same as adding padding to each individual flex item
      gap: 20px;
    }

    .charts {
      padding: 5px 20px;
    }
  }
}
